@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

h2 {
    margin-bottom: 0;
}

div {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding: 2% 0%;
    margin-top: 0;
    /* background-color: aquamarine; */
}

div img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

div div {
    width: 45%;
    /* background-color: aquamarine; */
}
  
table {
    align-self: center;
    width: 90%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

#startGameButton {
    display: block;
    font-size: large;
    margin: 0px auto 5px auto;
    width: 25%;
    background-color: rgb(158, 200, 228);
}