/* TOOD: update this div to be take up most portion of screen and position  */
.game-map div {
    width: 100%;
    height: 100%;
}

.location-buttons button {
    font-size: 12px;
    margin: 5px;
    width: 120px;
    height: 75px;
    white-space: normal;
    color: #000000;
    background-color: #23e25c;
}

.location-buttons button:disabled {
    background-color: #dde7d2;
}