@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

div.actions-banner {
  height: 100px;
  display: inline-flex;
  position: relative;
  vertical-align: middle;
  justify-content: space-evenly;
  top: 0;
  width: 100%;
  background-color: #4c5c64d5;
}

#action-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  vertical-align: middle;
  width: 30%;
  height: 100%;
  /* background-color: #72f06ed5; */
}

#action-buttons {
  height: 25px;
  text-align: center;
  background-color: bisque;
}

/* .button-label {
  display: block;
  flex-direction: column;
  align-items: center;
  background-color: rgb(36, 126, 33);
} */

#guess-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#guess-column div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#guess-column div button {
  display: inline-block;
}

#accuse-button {
  background-color: #c95541ce;
}

#suggest-button {
  background-color: #c99e41ce;
}

mat-form-field {
  width: 100%;
}

mat-select {
  background-color: rgb(133, 201, 150);
  padding: 3px;
}

mat-option {
  position: inherit;
  background-color: rgb(150, 159, 207);
  font-size: small;
  z-index: 10002 !important;
}




/* GAME MAP */

/* game map */
div.game-container {
  display: flex;
  /* background-color: rgb(62, 223, 142); */
}

div.game-container mat-grid-list {
  display: block;
  width: 65%;
  background-color: #c7d9da;
}

.location-buttons button {
  font-size: 70%;
  width: 120px;
  height: 80px;
  white-space: normal;
  color: #000000;
}

.location-buttons button:disabled {
  background-color: #e0bfb988;
}


/* player tools bar (right) */
div.playerTools {
  display: inline-block;
  width: 35%;
  height: 500px;
  text-align: center;
  background-color: #52b645d5;
}

div.playerTools h3 {
  margin-left: 5%;
}

div.tool {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  padding: 2% 0%;
  background-color: aquamarine;
}



div.handCardType {
  display: inline-block;
  width: 30%;
  /* background-color: rgb(151, 255, 66); */
}

div.handCardType mat-list {
  /* background-color: rgb(112, 110, 207); */
}

div.handCardType mat-list mat-list-item {
  font-size: small;
  height: auto;
  margin: 5px;
  /* background-color: rgb(112, 247, 229); */
}



div.knownCards {
  display: inline-flex;
}

div.knownCards mat-selection-list {
  font-size: medium;
  text-align: center;
}

div.knownCards mat-selection-list mat-list-option {
  display: block;
  font-size: small;
  text-align: left;
}




/* The gameMessage - position it at the bottom and in the middle of the screen */

#gameMessage {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  width: 30%;

  /* Set a default minimum width */
  margin-left: -15%;
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: absolute;
  /* Sit on top of the screen */
  z-index: 10001 !important;
  /* Add a z-index if needed */
  left: 25%;
  /* Center the gameMessage */
  top: 30px;
  /* 30px from the bottom */
}

/* Show the gameMessage when clicking on a button (class added with JavaScript) */

#gameMessage.show {
  visibility: visible;
  /* Show the gameMessage */
  /* Add animation: Take 0.5 seconds to fade in and out the gameMessage.
    However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#playerMessage {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  width: 30%;

  /* Set a default minimum width */
  margin-right: -15%;
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: absolute;
  /* Sit on top of the screen */
  z-index: 9999 !important;
  /* Add a z-index if needed */
  right: 25%;
  /* Center the playerMessage */
  top: 30px;
  /* 30px from the bottom */
}

/* Show the playerMessage when clicking on a button (class added with JavaScript) */

#playerMessage.show {
  visibility: visible;
  /* Show the playerMessage */
  /* Add animation: Take 0.5 seconds to fade in and out the playerMessage.
    However, delay the fade out process for 2.5 seconds */
  -webkit-animation-player: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the gameMessage/playerMessage in and out */

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}