.container {
    display: block;
    position: relative;
}

.game-map {
    width: 70%;
    height: auto;
    display: inline-block;
    bottom: 0;
}

.non-location-buttons-box {
    width: 30%;
    height: auto;
    display: inline-block;
    position: absolute;
    bottom: 10%;
    /* background-color: #4c5c64d5; */
}

.non-location-buttons-box button {
    width: 60%;
    font-size: 100%;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display:block;
    white-space: normal;
    color: #000000;
    background-color: #4abaeed5;
}

.non-location-buttons-box button:disabled {
    background-color: #8bb2c4c0;
}

.location-buttons button {
    font-size: 100%;
    width: 80%;
    height: 80%;
    white-space: normal;
    color: #000000;
    background-color: #74c48cd5;
}

.location-buttons button:disabled {
    background-color: #e0bfb988;
}


/* The gameMessage - position it at the bottom and in the middle of the screen */
#gameMessage {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the gameMessage */
    top: 30px; /* 30px from the bottom */
  }
  
  /* Show the gameMessage when clicking on a button (class added with JavaScript) */
  #gameMessage.show {
    visibility: visible; /* Show the gameMessage */
    /* Add animation: Take 0.5 seconds to fade in and out the gameMessage.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the gameMessage in and out */
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }