<h3 mat-dialog-title>Please select a clue to reveal</h3>

<mat-radio-group class="reveal-card" [(ngModel)]="revealedClue">
    <ng-container *ngFor="let hCard of revealClueData.player.handCards">
        <ng-container *ngFor="let sCard of revealClueData.suggestionCards">
            <mat-radio-button *ngIf='hCard.name === sCard.name' [value]="hCard.name">
                {{hCard.name}}
            </mat-radio-button>
        </ng-container>
    </ng-container>
</mat-radio-group>
<mat-divider></mat-divider>
<div mat-dialog-actions>
    <button id="reveal-clue-button" mat-button mat-dialog-close (click)=revealClue()>Reveal Clue: {{revealedClue}}</button>
</div>