@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.reveal-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* background-color: rgb(92, 226, 59); */
}

mat-divider {
    margin: 20px 0;
}

div button {
    background-color: antiquewhite;
}