<link rel="stylesheet" type="text/css" href="/css/login.css">
<div class="login">
    <h1>Login to Web App</h1>
    <form method="post" action="">
      <p><input type="text" name="playerName" value="" placeholder="Player Name"></p>
      <!-- TODO: INCLUDE ACTION FOR JOINING GAME -->
      <!-- <p><input type="text" name="gameId" value="" placeholder="Game ID"></p> -->
      <p class="remember_me"></p>
      <p class="submit"><input type="submit" name="commit" value="Create New Game"></p>
    </form>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
        <tr>
          <th>Player ID</th>
          <th>Player Name</th>
          <th>Player Turn?</th>
        </tr>
    </thead>
    <!-- <tbody>
      <tr *ngFor="let player of players">
        <td>{{ player.playerId }}</td>
        <td>{{ player.name }}</td>
        <td>{{ player.isTurn }}</td>
      </tr>
    </tbody> -->
  </table>
</div>