<!-- <link rel="stylesheet" type="text/css" href="/css/login.css">
<game></game> -->
<!-- <h1>Welcome to Clue-less</h1> -->
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<!-- <nav>
  <ul>
    <li><a routerLink="/login" routerLinkActive="active">Login Component</a></li>
    <li><a routerLink="/game" routerLinkActive="active">Game Component</a></li>
  </ul>
</nav> -->
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>